.div-header {
  background: linear-gradient(60deg, #222d43, #222d43);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(11, 11, 12, 0.64);
  padding: 10px;
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-top: -30px !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

@media (max-width: 700px) {
  .mat-card {
    width: auto !important;
  }
}
