<mat-nav-list>
  <a *ngIf="!isAlunoOrProfessor" mat-list-item (click)="click('C')">
    <i class="fa fa-2x fa-copy" mat-list-icon></i>
    <span mat-line>Copiar</span>
  </a>

  <a mat-list-item (click)="click('D')">
    <i class="fa fa-2x fa-paste" mat-list-icon></i>
    <span mat-line>Reservas</span>
  </a>

  <a *ngIf="showEditAndDelete" mat-list-item (click)="click('E')">
    <i *ngIf="!isAlunoOrProfessor" class="fa fa-2x fa-edit" mat-list-icon></i>
    <span *ngIf="!isAlunoOrProfessor" mat-line>Editar</span>

    <i *ngIf="isAlunoOrProfessor" class="fa fa-2x fa-eye" mat-list-icon></i>
    <span *ngIf="isAlunoOrProfessor" mat-line>Visualizar</span>
  </a>

  <a *ngIf="!isAlunoOrProfessor && showEditAndDelete" mat-list-item (click)="click('R')">
    <i class="fa fa-2x fa-trash-o" mat-list-icon></i>
    <span mat-line>Remover</span>
  </a>
</mat-nav-list>
