<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center">
        <button type="button"
                (click)="back()"
                mat-icon-button>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h4 class="m-0">Cadastro de Estado</h4>
      </div>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                     id="id"
                     name="id"
                     disabled
                     class="form-control"
                     [(ngModel)]="object.id"
                     pInputText>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text"
                     id="nome"
                     name="nome"
                     class="form-control"
                     [(ngModel)]="object.nome"
                     pInputText>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="uf">UF</label>
              <input type="text"
                     id="uf"
                     name="uf"
                     class="form-control"
                     [(ngModel)]="object.uf"
                     pInputText>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group d-flex flex-column">
              <label for="pais">País</label>
              <p-autoComplete id="pais"
                              name="pais"
                              appendTo="body"
                              field="nome"
                              inputStyleClass="form-control"
                              [style]="{width: '100%'}"
                              [suggestions]="paisList"
                              [(ngModel)]="object.pais"
                              (onClear)="object.pais = null"
                              (completeMethod)="findPaises($event)">
              </p-autoComplete>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
