<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center">
        <button type="button"
                (click)="back()"
                mat-icon-button>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h4 class="m-0">Cadastro de País</h4>
      </div>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                     id="id"
                     name="id"
                     disabled
                     class="form-control"
                     [(ngModel)]="object.id"
                     pInputText>
            </div>
          </div>

          <div class="col-md-9">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text"
                     id="nome"
                     name="nome"
                     class="form-control"
                     [(ngModel)]="object.nome"
                     pInputText>
            </div>
          </div>

          <div class="col-md-1">
            <div class="form-group">
              <label for="sigla">Sigla</label>
              <input type="text"
                     id="sigla"
                     name="sigla"
                     class="form-control"
                     [(ngModel)]="object.sigla"
                     pInputText>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
