<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center">
        <button type="button"
                (click)="back()"
                mat-icon-button>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h4 class="m-0">Cadastro de Cidade</h4>
      </div>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                     id="id"
                     name="id"
                     disabled
                     class="form-control"
                     [(ngModel)]="object.id"
                     pInputText>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text"
                     id="nome"
                     name="nome"
                     class="form-control"
                     [(ngModel)]="object.nome"
                     pInputText>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="estado">Estado</label>
              <p-autoComplete id="estado"
                              name="estado"
                              inputStyleClass="form-control"
                              [suggestions]="estadosList"
                              (completeMethod)="findEstados($event)">
              </p-autoComplete>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
          <button type="button"
                  class="mr-2 w-100px br-25px"
                  mat-stroked-button
                  (click)="back()">
            Cancelar
          </button>

          <button type="button"
                  color="primary"
                  class="w-100px br-25px"
                  mat-stroked-button
                  (click)="save()">
            Salvar
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

