<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center">
        <button type="button"
                (click)="back()"
                mat-icon-button>
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h4 class="m-0">Cadastro de Empréstimo</h4>
      </div>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                     id="id"
                     name="id"
                     disabled
                     class="form-control"
                     [(ngModel)]="object.id"
                     pInputText>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="usuarioEmprestimo">Usuário Empréstimo</label>
              <span class="field-required">*</span>
              <p-autoComplete id="usuarioEmprestimo"
                              name="usuarioEmprestimo"
                              required
                              validation
                              appendTo="body"
                              field="nome"
                              inputStyleClass="form-control"
                              [style]="{width: '100%'}"
                              [(ngModel)]="object.usuarioEmprestimo"
                              [suggestions]="usuarioList"
                              (onClear)="object.usuarioEmprestimo = null"
                              (completeMethod)="findUsuarios($event)">
              </p-autoComplete>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="usuarioResponsavel">Usuário Responsável</label>
              <input type="text"
                     id="usuarioResponsavel"
                     name="usuarioResponsavel"
                     class="form-control"
                     [(ngModel)]="object.usuarioResponsavel.nome"
                     disabled>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="dataCompra">Data do Empréstimo</label>
              <span class="field-required">*</span>
              <p-calendar name="dataCompra"
                          id="dataCompra"
                          required
                          validation
                          dataType="string"
                          dateFormat="dd/mm/yy"
                          inputStyleClass="form-control"
                          [locale]="pt"
                          [style]="{width: '100%'}"
                          [(ngModel)]="object.dataEmprestimo">
              </p-calendar>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label for="item">Item</label>
              <p-autoComplete id="item"
                              name="item"
                              appendTo="body"
                              field="nome"
                              inputStyleClass="form-control"
                              (keyup.control.enter)="insertItem()"
                              [(ngModel)]="emprestimoItem.item"
                              (onSelect)="setDevolucaoItem()"
                              [style]="{width: '100%'}"
                              [suggestions]="itemList"
                              (onClear)="emprestimoItem.item = null"
                              (completeMethod)="findProdutos($event)">
              </p-autoComplete>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="devolvido">Devolver</label>
              <p-dropdown [options]="yesNoDropdown"
                          [(ngModel)]="itemDevolver"
                          [style]="{width: '100%'}"
                          [disabled]="true"
                          id="devolvido"
                          name="devolvido">
              </p-dropdown>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="qtde">Quantidade</label>
              <input type="number"
                     id="qtde"
                     [(ngModel)]="emprestimoItem.qtde"
                     (keyup.control.enter)="insertItem()"
                     name="qtde"
                     class="form-control"
                     pInputText>
            </div>
          </div>

          <div class="col-md-1">
            <div class="form-group">
              <label class="invisible">Action</label>
              <button type="button"
                      style="height: 35px"
                      class="form-control"
                      (click)="insertItem()"
                      mat-stroked-button>
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="object?.emprestimoItem?.length > 0" class="example-container mat-elevation-z8">
          <mat-table #table="matTable"  [dataSource]="object.emprestimoItem">
            <ng-container matColumnDef="item">
              <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
              <mat-cell *matCellDef="let itemEmprestimo"> {{itemEmprestimo.item.nome}} </mat-cell>
              <mat-footer-cell *matFooterCellDef class="font-weight-bolder"> Total </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="devolver">
              <mat-header-cell *matHeaderCellDef> Devolver </mat-header-cell>
              <mat-cell *matCellDef="let itemEmprestimo">
                <span *ngIf="itemEmprestimo.item.devolver">Sim</span>
                <span *ngIf="!itemEmprestimo.item.devolver">Não</span>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="qtde">
              <mat-header-cell *matHeaderCellDef> Qtde </mat-header-cell>
              <mat-cell *matCellDef="let itemEmprestimo"> {{itemEmprestimo.qtde}} </mat-cell>
              <mat-footer-cell *matFooterCellDef> {{getQtdeTotal()}} </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="actionsForm">
              <mat-header-cell *matHeaderCellDef> Opções </mat-header-cell>
              <mat-cell *matCellDef="let itemEmprestimo">
                <button class="btn btn-outline-primary rounded"
                        type="button"
                        pTooltip="Remover"
                        (click)="removeItem(itemEmprestimo.item.id)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="font-weight-bolder"></mat-footer-row>
          </mat-table>
        </div>

        <div class="row">
          <div class="col-md-12 d-flex justify-content-end">
            <button type="button"
                    class="mr-2 w-100px br-25px"
                    mat-stroked-button
                    (click)="back()">
              Cancelar
            </button>

            <button type="button"
                    color="primary"
                    class="w-100px br-25px"
                    mat-stroked-button
                    (click)="save()">
              Salvar
            </button>
          </div>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>

