<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center">
        <app-voltar (onClick)="back()"></app-voltar>
        <h4 class="m-0">Cadastro de Grupo</h4>
      </div>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm" (submit)="save()">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                     id="id"
                     name="id"
                     disabled
                     class="form-control"
                     [(ngModel)]="object.id"
                     pInputText>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-group">
              <label for="descricao">Descrição</label>
              <input type="text"
                     id="descricao"
                     name="descricao"
                     required
                     validation
                     class="form-control"
                     [(ngModel)]="object.descricao"
                     pInputText>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-end">
            <app-cancelar (onClick)="back()"></app-cancelar>
            <app-salvar [typeButton]="'submit'"></app-salvar>
          </div>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>
