.example-container {
  height: auto;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 2%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-column-actionsForm,
.mat-column-qtde {
  max-width: 5% !important;
}

.mat-column-valor {
  max-width: 10% !important;
}


