.example-sidenav {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 50px);
}

mat-sidenav {
  width: 260px !important;
}

mat-drawer-container {
  background-color: transparent;
}

.color-toolbar {
  color: #000000;
}
