<mat-drawer-container class="example-sidenav" style="height: calc(100vh - 50px)">
  <mat-drawer #drawer [opened]="true" mode="side" style="width: 100%" [disableClose]="true">
    <mat-nav-list #navList>
      <a *ngFor="let menuItem of menuItems" mat-list-item [id]="[menuItem.id]" [routerLink]="[menuItem.path]"
         routerLinkActive="active" class="color-toolbar">
        <i class="fa fa-{{menuItem.icon}} mr-2 color-icons" mat-list-icon></i>
        {{menuItem.title}}
        <mat-divider></mat-divider>
      </a>

      <a mat-list-item (click)="toggleSubMenuCadastro()">
        <i class="fa fa-pencil mr-2 color-icons" mat-list-icon></i>
        Cadastros
        <mat-icon *ngIf="!showSubMenuCadastro">chevron_right</mat-icon>
        <mat-icon *ngIf="showSubMenuCadastro">expand_more</mat-icon>
      </a>
      <mat-nav-list class="sidenav-submenu" *ngIf="showSubMenuCadastro" style="margin-left: 25px !important;">
        <a *ngFor="let menuItem of menuCadastros" mat-list-item [id]="[menuItem.id]" [routerLink]="[menuItem.path]"
           routerLinkActive="active" class="color-toolbar">
          <i class="fa fa-{{menuItem.icon}} mr-2 color-icons" mat-list-icon></i>
          {{menuItem.title}}
          <mat-divider></mat-divider>
        </a>
      </mat-nav-list>

<!--      <mat-divider></mat-divider>-->

<!--      <a mat-list-item (click)="toggleSubMenuGerais()">-->
<!--        <mat-icon mat-list-icon>business</mat-icon>-->
<!--        Geral-->
<!--        <mat-icon *ngIf="!showSubMenuGerais">chevron_right</mat-icon>-->
<!--        <mat-icon *ngIf="showSubMenuGerais">expand_more</mat-icon>-->
<!--      </a>-->

<!--      <mat-nav-list class="sidenav-submenu" *ngIf="showSubMenuGerais" style="margin-left: 25px !important;">-->
<!--        <a *ngFor="let menuItem of menuGeral" mat-list-item [id]="[menuItem.id]" [routerLink]="[menuItem.path]"-->
<!--           routerLinkActive="active" class="color-toolbar">-->
<!--          <mat-icon mat-list-icon >{{menuItem.icon}}</mat-icon>-->
<!--          {{menuItem.title}}-->
<!--          <mat-divider></mat-divider>-->
<!--        </a>-->
<!--      </mat-nav-list>-->

    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
