html, body {
  height: 100%;
  background-color: #f5f5f5 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100px {
  width: 100px !important;
}

.w-200px {
  width: 200px !important;
}

.br-25px {
  border-radius: 25px !important;
}

.mat-card {
  border-radius: 10px !important;
}

/* style's default modal */
.ui-dialog {
  border-radius: 10px !important;
}

.ui-dialog-content {
  overflow: hidden !important;
  padding: 3em 2em !important;
}

.ui-dialog-titlebar {
  border-radius: 10px 10px 0 0 !important;
  background-color: #FFFFFF !important;
}

.ui-dialog-footer {
  background-color: #FFFFFF !important;
  border-radius: 0 0 10px 10px !important;
}

/* validation */
.help-block {
  color: #a80000;
}

.field-required {
  padding-left: 5px;
}

/* list */
table {
  width: 100%;
}

.mat-column-actions {
  max-width: 10% !important;
}

.mat-column-id {
  max-width: 10% !important;
}

.mat-header-cell {
  font-weight: bolder !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-row:nth-child(even) {
  background-color: #f5f5f5;
}

@media (max-width: 1200px) {

  mat-cell {
    cursor: pointer;
  }
}



