<div class="container-fluid my-3">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center">
        <app-voltar (onClick)="back()"></app-voltar>
        <h4 class="m-0">Cadastro de Fornecedor</h4>
      </div>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm" (submit)="save()">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="id">Código</label>
              <input type="text"
                     id="id"
                     name="id"
                     disabled
                     class="form-control"
                     [(ngModel)]="object.id"
                     pInputText>
            </div>
          </div>

          <div class="col-md-10">
            <div class="form-group">
              <label for="razaoSocial">Razão Social</label>
              <span class="field-required">*</span>
              <input type="text"
                     id="razaoSocial"
                     name="razaoSocial"
                     required
                     validation
                     class="form-control"
                     [(ngModel)]="object.razaoSocial"
                     pInputText>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nomeFantasia">Nome Fantasia</label>
              <span class="field-required">*</span>
              <input type="text"
                     id="nomeFantasia"
                     name="nomeFantasia"
                     required
                     validation
                     class="form-control"
                     [(ngModel)]="object.nomeFantasia"
                     pInputText>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="cnpj">CNPJ</label>
              <span class="field-required">*</span>
              <input type="text"
                     id="cnpj"
                     name="cnpj"
                     required
                     validation
                     onlyNumber
                     class="form-control"
                     [(ngModel)]="object.cnpj"
                     pInputText>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="ie">Inscrição Estadual</label>
              <span class="field-required">*</span>
              <input type="text"
                     id="ie"
                     name="ie"
                     required
                     validation
                     onlyNumber
                     class="form-control"
                     [(ngModel)]="object.ie"
                     pInputText>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="endereco">Endereço</label>
              <span class="field-required">*</span>
              <input type="text"
                     id="endereco"
                     name="endereco"
                     required
                     validation
                     class="form-control"
                     [(ngModel)]="object.endereco"
                     pInputText>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group d-flex flex-column">
              <div>
                <label for="estado">Estado</label>
                <span class="field-required">*</span>
              </div>
              <p-autoComplete id="estado"
                              name="estado"
                              required
                              validation
                              appendTo="body"
                              field="nome"
                              inputStyleClass="form-control"
                              (ngModelChange)="object.cidade = null"
                              [forceSelection]="true"
                              [dropdown]="true"
                              [suggestions]="estadoList"
                              [(ngModel)]="object.estado"
                              (onClear)="object.estado = null"
                              (completeMethod)="findEstados($event)">
              </p-autoComplete>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group d-flex flex-column">
              <div>
                <label for="cidade">Cidade</label>
                <span class="field-required">*</span>
              </div>
              <p-autoComplete id="cidade"
                              name="cidade"
                              required
                              validation
                              field="nome"
                              inputStyleClass="form-control"
                              [forceSelection]="true"
                              [disabled]="!object.estado"
                              [dropdown]="true"
                              [suggestions]="cidadeList"
                              [(ngModel)]="object.cidade"
                              (onClear)="object.cidade = null"
                              (completeMethod)="findCidadesByEstado($event)">
              </p-autoComplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-end">
            <app-cancelar (onClick)="back()"></app-cancelar>
            <app-salvar [typeButton]="'submit'"></app-salvar>
          </div>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>
